# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/#customizing-settings
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence
stages:
  - test
  - build
  - build_image
  - deploy
  - deploy-image
  - cleanup
test-job:
  stage: test
  tags:
    - arm64
  image: gradle:jdk21-graal
  script:
    - gradle build
    - echo "Compile complete."
build-job:
  stage: build
  rules:
    - if: '$CI_COMMIT_TAG =~ /.*-releases$/'
      when: on_success
    - when: never
  tags:
    - arm64
  image: gradle:jdk21-graal
  script:
    - gradle bootJar
    - echo "Compile complete."
  artifacts:
    expire_in: 1 days
    paths:
      - build/libs
#build_image-job:
#  stage: build_image
#  image: docker:latest
#  services:
#    - docker:dind
#  rules:
#    - if: '$CI_COMMIT_TAG =~ /.*-releases$/'
#      when: on_success
#    - when: never
#  needs:
#    - job: build-job
#      artifacts: true
#  tags:
#    - arm64
#  variables:
#    IMAGE_TAG: "$DOCKER_NAME/$CI_PROJECT_NAME:$CI_COMMIT_TAG"
#    LATEST: "$DOCKER_NAME/$CI_PROJECT_NAME:latest"
#  script:
#    - docker login -u $DOCKER_NAME -p $DOCKER_PASSWORD
#    - docker buildx ls
#    - docker run --privileged --rm tonistiigi/binfmt --install all
#    - docker buildx create --use --name mybuilder
#    - docker buildx  build --platform  linux/amd64,linux/arm64 --push -t $IMAGE_TAG -f Dockerfile ./


#deploy-job: # This job runs in the deploy stage.
#  stage: deploy-image  # It only runs when *both* jobs in the test stage complete successfully.
#  only:
#    - tags
#  needs:
#    - job: build_image-job
#  variables:
#    IMAGE_TAG: $DOCKER_NAME\/$CI_PROJECT_NAME:$CI_COMMIT_TAG
#  before_script:
#    - command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client
#      -y )
#    - eval $(ssh-agent -s)
#    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
#    - mkdir -p ~/.ssh
#    - chmod 700 ~/.ssh
#    - echo "$SSH_KNOWN_HOSTS" >> ~/.ssh/known_hosts
#    - chmod 644 ~/.ssh/known_hosts
#    - apt-get install rsync -y
#  script:
#    - sed -i "s|IMAGE_TAG|$IMAGE_TAG|g" ./deploy/docker-compose.yml
#    - rsync -avz -e ssh --include docker-compose.yml ./deploy $DEPLOY_HOST_NAME@$DEPLOY_HOST:/tools
#    - ssh -T $DEPLOY_HOST_NAME@$DEPLOY_HOST < ./deploy/bash.sh
#    - echo "Application successfully deployed."

deploy-job2:
  stage: deploy
  image: alpine:latest
  rules:
    - if: '$CI_COMMIT_TAG =~ /.*-releases$/'
      when: on_success
    - when: never
  needs:
    - job: build-job
      artifacts: true
  variables:
    IMAGE_TAG: "$DOCKER_NAME/$CI_PROJECT_NAME:$CI_COMMIT_TAG"
  before_script:
    # 检查 ssh-agent 是否存在，如果不存在则使用 apk 安装 openssh 和 rsync
    - |
      if ! command -v ssh-agent >/dev/null; then
        if command -v apk >/dev/null; then
          apk update && apk add openssh rsync
        else
          echo "Unsupported package manager"
          exit 1
        fi
      fi
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts

  script:
    - echo "$IMAGE_TAG"
    - ls -a ./build/libs
    - sed -i "s|IMAGE_TAG|$IMAGE_TAG|g" ./deploy/docker-compose.yml
    # upload Dockerfile
    - rsync -avzP -e ssh --include="Dockerfile" --exclude "*" . $DEPLOY_HOST_NAME@$DEPLOY_HOST:/tools
    - rsync -avzP -e ssh ./deploy/ $DEPLOY_HOST_NAME@$DEPLOY_HOST:/tools
    # upload jar
    - rsync -avzP -e ssh  ./build/libs/ $DEPLOY_HOST_NAME@$DEPLOY_HOST:/tools/build/libs --rsync-path="mkdir -p /tools/build/libs && rsync"
    - ssh $DEPLOY_HOST_NAME@$DEPLOY_HOST "chmod +x /tools/bash.sh"
    - ssh -T $DEPLOY_HOST_NAME@$DEPLOY_HOST "export IMAGE_TAG=$IMAGE_TAG && bash /tools/bash.sh"
    - echo "Application successfully deployed."
    - ssh $DEPLOY_HOST_NAME@$DEPLOY_HOST "rm -rf /tools/build"


