spring:
  application:
    name: ${env.appName}
  messages:
    basename: i18n
    encoding: UTF-8
  threads:
    virtual:
      enabled: true
logging:
  config: classpath:logback-spring-dev.xml
  file:
    path: classpath:/
    name: log
  charset:
    file: UTF-8
env:
  appName: 'tools web'
  version: '0.0.6-releases'
  isEnableSwagger: false
  isPublic: true
  jwt:
    expire: 30
    tokenHeader: Authorization
    tokenPrefix: 'Bearer'
    privateKey: classpath:private.pem
    publicKey: classpath:public.pem
